<html>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border-spacing: 0;
			font-family: 'Nunito';
		}
	</style>
	<body>
		<div style="width: 100%; height: 100%; background-color: #fff">
			<div
				style="
					width: 600px;
					height: 600px;
					background-color: #fff;
					margin: auto;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
				"
			>
				<table style="width: 100%; border-spacing: 0">
					<tr
						style="
							width: 100%;
							height: 170px;
							background-image: url('https://lh3.googleusercontent.com/fife/AAWUweWApEvs-dLDH4OpRwIc-pZrEiJUU4qYRaGVOP9bcoBGfJ0jHu9O4zHeZn_eeHaNZTAxaGykAJGQBFTSyZo67f5OYzmyJvdGMMkc6Y0-5HnfQuqVYb3yXx9cxNqbX3sjdX0aXjGWNB2ffR0jUkVsdNQG1-_dUl69mdT97GKKYpPuFQc2SGjF72U3V_fXdyDforNTTRUB6589rqPojCS-yTBAvzAHi-dhkkh2k-eXnOUlHqxvNo-Vv2krfL3pEiJs9LTBoAVWzyR6qy3SA4YBQdC1xZ7RjWMN45a1-_-4lvjvuP0FLIAJDUTtJf1Lyc2mskPLFPAP1lYg_wGaxap44rtj0TjPD9Fgeo0pMA59DGDfRxuTACIGbOJmWqqVBlcKesyBE2W3lVoYgEUi749wjsr8uIoQGL-kDY6jXYctqhyBmV41hsUbokDStetnZ1nZ5zpOpd9nEcYQC8SbqOrJ-9L4wqfXrxQoV54MBiVRooOD27Ferh4yIOzlBZH0H0gQom0Rqb_x--K1VEoBP5pFosdsQdb4UMIg3SZMEESQ2VnIW0gHS4vtOmeq2CGBoh70XKAunsoXCHOCF8r-AgjEMF9ZtXZdwhw2IQMAprHv63YeHFkohTwA4XKpWbej2CMrQ8KAyWLBzQQeyCFIBN1MvNzTzPQWmmXS3Cflr28BDq_u1qVhL7zpgfLZyxjH9bH6JyUygBu3uORBHET_V0nEUzXOT-oEYhhn2A=w1171-h761-ft');
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							border-radius: 10px 10px 0px 0px;
							display: flex;
							justify-content: center;
							align-items: center;
						"
					>
						<td
							style="
								width: 100%;
								height: inherit;
								display: flex;
								justify-content: center;
								align-items: center;
							"
						>
							<img
								style="
									width: 20%;
									height: fit-content;
									margin: auto;
									filter: brightness(85%) drop-shadow(0px 0px 13px #00000081);
								"
								src="https://lh3.googleusercontent.com/fife/AAWUweVTn7Vq1NAF9jhEykIpiUc-2Qdmux6kk2dNWMV0hMTDlsarYRKuYZofq6hgsbM3lwtwSXsVca3axooYe8tIJiCyuMkLdkG0WpiVUZ7dN16ISXeGK8-r-8Del6y3Dk9rehTCZkcdtSTk0R-RN25TEmwXUICoaN3CRdE0fT8AsybMc4kcYV3WsiymyalZwIKbfe9_UjmBpv0tPCzVsFvg9msuNLTJllTVxPa4Ca3IMurjlg7rLmFDzXZ53l3Za-sn6CdEoM2Qs3IXbpjtRixN0uwSglv9M2liE8Gb-eAeUmVwR_0bjUnsGOW7XaPrsnIT6p1r52SeSjvyl69LZVCw84cLh8nzkqvhUZXcLIoOxTVNcRMbCs--SEPK7cmwMHgWEs8gHjSSLpk5sDu4QV_f8g3xS1Ft13IZ4rKdCaf64kpSg3NwNnQycP5EvHcatrTLIIdzz6p09cOn5AI_ySRcs_EDTw0P4tOgFWXF57I7X7fBlX8t1sXG_MQcitlyYcKTxqwwvuNiy-TvFHKme6z7wMc-Hmcj52pk6VCfz80Ogxz62z65jEzlu6-jjq2dJxj9A4LsTglljrYIDtvpLDe3hBZzaojI6gPCrCuamY7g3a_ToYr29AG0sGKjZu5p9QgLRIvGCgcyxJJ4LNL9comB_HqHech4cSEM2QA6DBkrzThX8Bu3tEH452Zyc9PVZNw3mdWUFOWIcxgp8Kda-no1U9IJwmeRYKPVOw=w1440-h761-ft"
							/>
						</td>
					</tr>
				</table>
				<div
					style="
						width: 100%;
						height: 100%;
						padding: 35px;
						border: 1px solid #d1d1d1;
						border-top: none;
						border-radius: 0px 0px 10px 10px;
					"
				>
					<h1 style="font-size: 25px">Peticion de cambio de contraseña</h1>
					<p style="margin-top: 18px">Estimado/a <b>{{name}}</b></p>
					<p style="margin-top: 20px">
						Hemos notado que recientemente se ha solicitado una petición para cambiar la contaseña destinada
						a este correo electrónico:
					</p>
					<p style="margin: 24px 0px 0px 60px">
						<b>Tiempo:</b>

						{{date}} a las {{hours}}
					</p>

					<div style="width: 100%; margin-top: 24px; display: flex; justify-content: center">
						<a
							href="https://{{link}}"
							style="
								width: 420px;
								height: 50px;
								border-radius: 10px;
								display: flex;
								justify-content: center;
								align-items: center;
								color: #fff;
								background-color: #0b1d36;
								text-decoration: none;
								transition: 150ms ease-in-out;
							"
							onmouseover="this.style.backgroundColor='#0c2345';"
							onmouseout="this.style.backgroundColor='#0b1d36';"
						>
							<p>Haga click aquí para reestablecer su contraseña</p>
						</a>
					</div>

					<p style="margin-top: 24px">Si usted no solicitó esta operación ignore este comunicado.</p>
					<p
						style="
							font-size: 12px;
							margin-top: 24px;
							border-left: 2px solid #0b1d36;
							padding-left: 10px;
							height: 30px;
							display: flex;
							align-items: center;
						"
					>
						Atentamente: El Servicio Tecnico de BDT Group - Tech to simplify your business
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
